* {
	/* TEXT PRIMARY */
	--dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* GRADIENT PRIMARY */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* TEXT NEUTRAL */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	/* DIVIDERS NEUTRAL */
	--light-grayish-blue: hsl(240, 5%, 91%);
}

body {
	min-height: 100vh;
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
}

@media (max-width: 699px) {
	img.header-box {
		display: none;
	}
}

input.toggle {
	display: none;
}

label {
	display: block;
	cursor: pointer;
}

label img {
	transition: transform 0.25s linear;
}

div.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

input.toggle:checked + label + div.collapsible-content {
	max-height: 100vh;
}

input.toggle:checked + label > img {
	transform: rotateX(180deg);
}
