* {
	/* TEXT PRIMARY */
	--dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* GRADIENT PRIMARY */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* TEXT NEUTRAL */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	/* DIVIDERS NEUTRAL */
	--light-grayish-blue: hsl(240, 5%, 91%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
	color: var(--dark-desaturated-blue);
	background-color: var(--soft-violet);
	background-image: linear-gradient(
		180deg,
		var(--soft-violet) 0%,
		var(--soft-blue) 100%
	);
}

div.card-container {
	display: flex;
	flex-direction: column;
	place-content: center;
	flex: 1 0;
}

div.card-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 1.5rem;
	margin: 125px 1rem 2rem;
	padding: 1rem;
}

header {
	position: relative;
	height: 24vw;
}

header img {
	position: absolute;
}

.header-bg img {
	left: 50%;
	top: 0;
	translate: -50% -20%;
	width: 70vw;
}

.header-illustration img {
	top: 0;
	left: 50%;
	translate: -50% -67%;
	width: 70vw;
}

@media (max-width: 699px) {
	img.header-box {
		display: none;
	}
}

h1 {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

ul {
	padding-left: 0;
	list-style: none;
}

li {
	display: block;
	padding: 1.125rem 0rem;
	border-bottom: 1px solid var(--light-grayish-blue);
	margin: auto 0.5rem;
}

input.toggle {
	display: none;
}

label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	color: var(--very-dark-grayish-blue);
	font-size: 0.875rem;
}

label img {
	transition: transform 0.25s linear;
}

div.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

div.collapsible-content p {
	color: var(--dark-grayish-blue);
	margin-bottom: 0;
	max-width: 85%;
	line-height: 1.5;
}

input.toggle:checked + label {
	font-weight: 700;
	color: var(--dark-desaturated-blue);
}

input.toggle:checked + label + div.collapsible-content {
	max-height: 100vh;
}

input.toggle:checked + label > img {
	transform: rotateX(180deg);
}

footer {
	flex: 0 1;
}
